[Unit]
Description=Issue Redgres Let's Encrypt certificates for db/rs
Documentation=https://github.com/SSujitX/redgres

[Service]
Type=oneshot
User=root
StateDirectory=redgres-tls
StateDirectoryMode=0755
ExecStart=/usr/libexec/redgres/issue-tls.sh
